<div class="login-form">
	<form>
		<h1>Login</h1>
		<form id="user-login-form" method="post" action="submit">
			<div class="content">
				<div class="input-field">
					<input id="login-username" type="text" placeholder="Username" autocomplete="nope" required>
				</div>
				<div class="input-field">
					<input id="login-password" type="password" placeholder="Password" autocomplete="new-password" required>
				</div>
			</div>
			<div>
				<a id="register-account">Register for an account</a>
			</div>
			<div class="action">
				<button type="submit" id="login-button">Log in</button>
			</div>
		</form>
	</form>
</div>
