<div class="login-form">
	<form>
		<h1>Register</h1>
		<form id="user-register-form" method="post" action="submit">
			<div class="content">
				<div class="input-field">
					<input id="register-username" type="text" placeholder="Username" autocomplete="nope" required>
				</div>
				<div class="input-field">
					<input id="register-password" type="password" placeholder="Password" autocomplete="new-password" required>
				</div>
			</div>
			<div class="action">
				<button type="submit" id="register-button">Register</button>
			</div>
		</form>
	</form>
</div>
